<section id="register" class="container">
  <h1 class="register-title">
    Đăng ký tài khoản
  </h1>
  <div class="register-form">
    <form
      class="multi-step-form"
      data-multi-step
      method="POST"
      action="/register"
      enctype="multipart/form-data"
    >
      <div id="form-1" class="card" data-step>
        {{! Fullname }}
        <div class="mb-3">
          <label for="fullName" class="form-label">Họ tên</label>
          <div class="input__row">
            {{! login__icon name svg-icon }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-person-fill register__icon name svg-icon"
              viewBox="0 0 16 16"
            >
              <path
                class="active"
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
              ></path>
            </svg>
            <input
              required
              name="fullName"
              type="text"
              class="form-control"
              id="fullName"
              value="{{fullName}}"
            />
          </div>
          <span class="form-text text-danger fullName-error"></span>
        </div>
        {{! Date of birth }}
        <div class="mb-3">
          <label for="dateOfBirth" class="form-label">Ngày sinh</label>
          <div class="input__row">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="register__icon date svg-icon bi bi-calendar"
              viewBox="0 0 16 16"
            >
              <path
                class="active"
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
              ></path>
            </svg>
            <input
              required
              type="date"
              class="form-control"
              name="dateOfBirth"
              id="dateOfBirth"
              value="{{dateOfBirth}}"
            />
          </div>
          <span class="form-text text-danger dateOfBirth-error"></span>

        </div>
        {{! Email }}
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <div class="input__row">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="register__icon email svg-icon bi bi-envelope-fill"
              viewBox="0 0 16 16"
            >
              <path
                class="active"
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
              ></path>
            </svg>
            <input
              required
              type="email"
              name="email"
              class="form-control"
              id="email"
            />
          </div>
          <span class="form-text text-danger email-error">
            {{#if error.errorE}}
              {{error.messageE}}
            {{/if}}
          </span>
        </div>
        {{! Address }}
        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ</label>
          <div class="input__row">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="register__icon address svg-icon bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                class="active"
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              ></path>
            </svg>
            <input
              required
              type="text"
              name="address"
              value="{{address}}"
              class="form-control"
              id="address"
            />
          </div>

          <span class="form-text text-danger address-error"></span>
        </div>

        {{! Phone }}
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Số điện thoại</label>
          <div class="input__row">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="register__icon phone svg-icon bi bi-telephone-fill"
              viewBox="0 0 16 16"
            >
              <path
                class="active"
                fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
              ></path>
            </svg>
            <input
              required
              type="tel"
              name="phoneNumber"
              class="form-control"
              id="phoneNumber"
              minlength="10"
            />
          </div>

          <span class="form-text text-danger phoneNumber-error">
            {{#if error.errorPN}}
              {{error.messagePN}}
            {{/if}}
          </span>

        </div>

        <div class="btn-contain">
          
          <a href="/login" class="btn btn-secondary">Hủy</a>
          <button
            id="register-next-btn"
            type="button"
            class="btn btn-success"
            data-next
          >Tiếp tục</button>

        </div>

      </div>
      <div id="form-2" class="card" data-step>
        <div class="mb-3">
          <label for="font" class="form-label">Mặt trước CMND</label>
          <input
            type="file"
            class="form-control ID-input"
            accept="image/*"
            name="fontIdImage"
            id="front"
            onchange="loadFrontIDImage(event)"
          />
          <img id="FrontIdDIsplay" />
          <span class="form-text text-danger fontIdImage-error"></span>
        </div>
        <div class="mb-3">
          <label for="back" class="form-label">Mặt sau CMND</label>
          <input
            type="file"
            class="form-control ID-input"
            accept="image/*"
            name="backIdImage"
            id="back"
            onchange="loadBackIDImage(event)"
          />
          <img id="BackIdDisplay" />
          <span class="form-text text-danger backIdImage-error"></span>
        </div>

        <div class="btn-contain">
          <button
            type="button"
            id="register-back-btn"
            class="btn btn-secondary"
            data-previous
          >Quay lại</button>

          <button type="button" class="btn btn-success submit-btn" onclick="registerSubmit();">Đăng ký</button>

        </div>

      </div>
    </form>
  </div>

</section>