  <div class="container" id="adminViewAccountDetail" style="transform:translateY(20%);">
        <div class="information-body">
            <div>
                <div>
                    <h4>Thông tin giao dịch</h4>
                    <hr>
                    <div class="content">
                        <div>
                            <p><span class="info-title">Mã giao dịch:</span> {{TransactionData._id}}</p>
                            <p><span class="info-title">Người thực hiện:</span> {{TransactionData.userID}}</p>
                            <p><span class="info-title">Loại giao dịch:</span> {{TransactionData.transactionType}}</p>
                            <p><span class="info-title">Ngày giao dịch:</span> {{TransactionData.transactionDate}}</p>
                            <p ><span class="info-title">Mô tả:</span> {{{TransactionData.describe}}}</p>
                        </div>
                        <div style="padding-right: 1rem;">
                            <p><span class="info-title">Số tiền:</span> {{TransactionData.transactionAmount}}</p>
                            <p><span class="info-title">Phí giao dịch:</span> {{TransactionData.transactionFee}}</p>   
                            <p><span class="info-title">Trạng thái:</span> {{TransactionData.status}}</p>
                        </div>
                        
                    </div>
                    
                </div>

                <div style="padding-top: 1.5rem;">
                    <hr>
                    <div style="text-align: center;color: red;font-weight: 700; margin:2rem auto;">{{message}}</div>
                    <div class="content" style="padding-top:0.5rem;">     
                        <button type="button" onclick="window.location.href='/transaction'" class="btn btn-primary" style="width:75px; margin:auto;">Trở lại</button>                          
                    </div>
                </div>
            </div>
        </div>

    </div>